

<div>
    <style>
    </style>
    <link ng-href="Styles/CSS/BFCViewProfileContactFeeBack.css" rel="stylesheet" />
    <div class="BfcServicsProfContView">
        <div class="CrossCancle" ng-click="CrossCancle()">&#10005;</div>
        <div class="BFCServicesViewContent">
            <div class="BFCEachProfContView">
                <div class="viewProfile">
                    <a href="#!PaintingWorks"><button class="ViewButton" ng-click="bfcHomePageViewHideBodyContent=true;bfcMainProfileViewHideDirective=false">View Profile</button></a>
                </div>
            </div>
            <div class="BFCEachProfContView">
                <div class="viewContact">
                    <a href="tel:8519984447"><button class="ViewButton" ng-click="bfcPaintworksServicesViewContact()">Contact</button></a>
                </div>
            </div>
            <div class="BFCEachProfContView">
                <div class="viewFeedBack">
                    <button class="ViewButton">FeedBack</button>
                </div>
            </div>
        </div>
    </div>
</div>
