.ProfileViewBody {
    background-color: #5e633bcf;
    transition: 1s;
}

.ProfileviewPictureMatter {
    bbackground-color: red;
    width: 70%;
    margin: auto;
    transition: 1s;
}

.ProfileviewPicture {
    background-color: #3a3c20;
    width: 100%;
    padding: 0px 0px 30px 10px;
    transition: 1s;
}

.ProfilePicture {
    background-color: green;
    margin: 20px 0px 20px 0px;
    width: 30%;
    height: 50%;
    border: 2px;
    border-radius: 50%;
    border-style: double;
    min-width: 190px;
    cursor: pointer;
}

.ProfileMatter {
    word-wrap: break-word;
    color: white;
}

.ProfileButtons {
    margin: 0px 0px 15px 0px;
    width: 100%;
}

.DetailsSubHeaddingMatter {
    width: 33.33%;
    float: left;
    text-align: center;
}

.Actionsbutton {
    width: 32%;
    color: white;
    background-color: #3d096f;
    border: 0px;
    height: 35px;
    border-radius: 20%;
    cursor: pointer;
}

.DetailsSubHeaddingMatter {
    animation: BFCText 3s infinite ease-in-out;
    -moz-animation: BFCText 3s infinite ease-in-out;
    -webkit-animation: BFCText 3s infinite ease-in-out;
    -o-animation: BFCText 3s infinite ease-in-out;
    animation-delay: 2s;
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    -o-animation-delay: 2s;
}

    .DetailsSubHeaddingMatter:hover {
        animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        -o-animation: none;
    }

.BFCLigntInEffect {
    animation: FCText 4s infinite ease-in-out;
    animation-delay: 2s;
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
}



@-webkit-keyframes BFCText {
    0% {
        color: white;
        -ms-transform: scale(1.5) rotate(0deg);
        -webkit-transform: scale(1.5) rotate(0deg);
        transform: scale(1.5) rotate(0deg);
    }

    25% {
        color: #10ff00;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    50% {
        color: white;
        -ms-transform: scale(1.1) rotate(-10deg);
        -webkit-transform: scale(1.1) rotate(-10deg);
        transform: scale(1.1) rotate(-10deg);
    }

    75% {
        color: #00ff03;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    100% {
        color: white;
        -ms-transform: scale(1.1) rotate(0deg);
        -webkit-transform: scale(1.1) rotate(0deg);
        transform: scale(1.1) rotate(0deg);
    }
}

/* Standard syntax */
@keyframes BFCText {

    0% {
        color: white;
        -ms-transform: scale(1.5) rotate(0deg);
        -webkit-transform: scale(1.5) rotate(0deg);
        transform: scale(1.5) rotate(0deg);
    }

    25% {
        color: #10ff00;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    50% {
        color: white;
        -ms-transform: scale(1.1) rotate(-10deg);
        -webkit-transform: scale(1.1) rotate(-10deg);
        transform: scale(1.1) rotate(-10deg);
    }

    75% {
        color: #00ff03;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    100% {
        color: white;
        -ms-transform: scale(1.1) rotate(0deg);
        -webkit-transform: scale(1.1) rotate(0deg);
        transform: scale(1.1) rotate(0deg);
    }
}

@-moz-keyframes BFCText {
    0% {
        color: white;
        -ms-transform: scale(1.5) rotate(0deg);
        -webkit-transform: scale(1.5) rotate(0deg);
        transform: scale(1.5) rotate(0deg);
    }

    25% {
        color: #10ff00;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    50% {
        color: white;
        -ms-transform: scale(1.1) rotate(-10deg);
        -webkit-transform: scale(1.1) rotate(-10deg);
        transform: scale(1.1) rotate(-10deg);
    }

    75% {
        color: #00ff03;
        -ms-transform: scale(1.1) rotate(10deg);
        -webkit-transform: scale(1.1) rotate(10deg);
        transform: scale(1.1) rotate(10deg);
    }

    100% {
        color: white;
        -ms-transform: scale(1.1) rotate(0deg);
        -webkit-transform: scale(1.1) rotate(0deg);
        transform: scale(1.1) rotate(0deg);
    }
}
