
<div>
    <link ng-href="Styles/CSS/bfcProfileMainView.css" rel="stylesheet" />
    <div class="mainProfileViewDiv">
        <div class="ProfileViewBody">
            <div class="ProfileviewPictureMatter">
                <div class="ProfileviewPicture">
                    <div class="ProfilePicture">

                    </div>
                    <div class="ProfileMatter">
                        Find Out your Own Localty People to Serve you
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>