
<div style="margin:0;padding:0;border:0;">
    <link ng-href="Styles/CSS/bfcProfileMainView.css" rel="stylesheet" />
    <div class="mainProfileViewDiv">
        <div class="ProfileViewBody">
            <div class="ProfileviewPictureMatter">
                <div class="ProfileviewPicture">
                    <img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ProfilePicture">

                    </img>
                    <div class="ProfileButtons">
                        <button class="Actionsbutton">Contact</button>
                        <button class="Actionsbutton">FeedBack</button>
                        <button class="Actionsbutton">Rate Service</button>
                    </div>
                    <div class="ProfileMatter">
                        Find Out your Own Localty People to Serve you fkndsfnefnsdfnsnfjsfsjfnjnfjdnfsnfjefdjfdsfdjnfjdjjdcdcdnjdsndnds Find Out your Own Localty People to Serve you fkndsfnefnsdfnsnfjsfsjfnjnfjdnfsnfjefdjfdsfdjnfjdjjdcdcdnjdsndnds Find Out your Own 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>