
    <div style="margin:0;padding:0;border:0;">
        <style>
            .SubheddingLocation:hover::before {
                animation: none;
                transition: 0.5s;
                cursor: pointer;
                color: #aef583;
                font-size: medium;
                content: "Location";
            }


            .SubheddingContacNumber:hover::before {
                animation: none;
                transition: 0.5s;
                cursor: pointer;
                color: #aef583;
                font-size: medium;
                content: "7901010401";
                animation: none;
            }


            .SubheddingPersonName:hover::before {
                animation: none;
                transition: 0.5s;
                cursor: pointer;
                color: #aef583;
                font-size: medium;
                content: "Althi Prasad";
                animation: none;
            }
        </style>
        <link ng-href="Content/font-awesome.min.css" rel="stylesheet" />
        <link ng-href="Styles/CSS/bfcProfileMainView.css" rel="stylesheet" />
        <div class="mainProfileViewDiv" id="BfcServicesProfileViewofEach">
            <div class="ProfileViewBody">
                <a href="#bfcProvidingTab"><div class="CrossCancle" ng-click="CrossCancleProfileView()" style="font-size:large; margin: 0px 10px 0px 0px">&#10005;</div></a>
                <div class="ProfileviewPictureMatter">

                    <div class="ProfileviewPicture">
                        <img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ProfilePicture" alt="BFC Nani"></img>
                        <div class="ProfileButtons">
                            <button class="Actionsbutton">Hire Service</button>
                            <button class="Actionsbutton">FeedBack</button>
                            <button class="Actionsbutton">Rate Service</button>
                        </div>
                        <div class="ProfileMatter">
                            <div><h3 align="center" style="color:white;"><b>Car Travels cum Purchases</b></h3></div><br />
                            <div class="ProfilePersonContactNavgation">
                                <div class="DetailsSubHeaddingMatter">
                                    <div><label style="color:ghostwhite; font-size:larger; color:#71ff70;" class="fa fa-user-circle SubheddingPersonName"></label></div><br />
                                    <!--<div><label style="color:goldenrod;font-size:large;">&emsp;Songa Tharun</label></div><br />-->
                                </div>
                                <div class="DetailsSubHeaddingMatter">
                                    <div><a href="tel:7901010401" style="color:goldenrod;text-decoration:none;"><label style="color:ghostwhite; font-size:larger; color:#71ff70;" class="fa fa-volume-control-phone SubheddingContacNumber"></label></a></div><br />
                                    <!--<div><label style="font-size:large;"><a href="tel:8497977911" style="color:goldenrod;text-decoration:none;">&emsp;8497977911</a></label></div><br />-->
                                </div>
                                <div class="DetailsSubHeaddingMatter">
                                    <div><a href="https://www.google.com/maps/place/16%C2%B026'00.6%22N+80%C2%B033'51.1%22E/@16.4335,80.5631001,18z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d16.4335004!4d80.564199" style="text-decoration:none;"><label style="color:ghostwhite; font-size:larger; color:#71ff70;" class="fa fa-location-arrow SubheddingLocation"></label></a></div><br />

                                    <!--<div><label style="font-size:large;color:goldenrod;">&emsp;<b style="color:palegoldenrod;">For U Digital Photo Studio</b>, Nauluru Road, Mangalagiri, India 522503.</label></div>-->
                                </div><br /><br /><br /><br />
                            </div>
                            <div>
                                <div class="BFCEachProfileViewMatterAboutProfile" style="text-indent: 50px;">
                                    <div class="BFCTextContainerEffect">
                                        <span class="BFCLigntInEffect BClassEffects" style="font-size:larger;">
                                            B
                                        </span>
                                        <span class="BFCLigntInEffect FClassEffects" style="font-size:larger;">
                                            F
                                        </span>
                                        <span class="BFCLigntInEffect CClassEffects" style="font-size:larger;">
                                            C
                                        </span>
                                        <span>., Travel Safe…, Your safety is health and wealth for us both,  A place where you can trust your Journey and value of money , We guide you with our professionals and experts in Car Traveling and Purchases, we avoid the third party and direct the sellers with purchasers and vise versa, We assets you Trip and Tours with our experts Employees (Divers, Trip Experts, Tour Planers e.t.c.). </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>