
<div style="margin:0;padding:0;border:0;">
    <link ng-href="Styles/CSS/bfcProfileMainView.css" rel="stylesheet" />
    <div class="mainProfileViewDiv" id="BfcServicesProfileViewofEach">
        <div class="ProfileViewBody">
            <a href="#bfcProvidingTab"><div class="CrossCancle" ng-click="CrossCancleProfileView()" style="font-size:large; margin: 0px 10px 0px 0px">&#10005;</div></a>
            <div class="ProfileviewPictureMatter">

                <div class="ProfileviewPicture">
                    <img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ProfilePicture" alt="BFC Tharun"></img>
                    <div class="ProfileButtons">
                        <button class="Actionsbutton">Hire Service</button>
                        <button class="Actionsbutton">FeedBack</button>
                        <button class="Actionsbutton">Rate Service</button>
                    </div>
                    <div class="ProfileMatter">
                        Find Out your Own Localty People Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People, Find Out your Own Localty People,
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>