
<div style="margin:0;padding:0;border:0;">
    <link ng-href="Content/font-awesome.min.css" rel="stylesheet" />
    <link ng-href="Styles/CSS/bfcProfileMainView.css" rel="stylesheet" />
    <div class="mainProfileViewDiv" id="BfcServicesProfileViewofEach">
        <div class="ProfileViewBody">
            <a href="#bfcProvidingTab"><div class="CrossCancle" ng-click="CrossCancleProfileView()" style="font-size:large; margin: 0px 10px 0px 0px">&#10005;</div></a>
            <div class="ProfileviewPictureMatter">

                <div class="ProfileviewPicture">
                    <img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ProfilePicture" alt="BFC Tharun"></img>
                    <div class="ProfileButtons">
                        <button class="Actionsbutton">Hire Service</button>
                        <button class="Actionsbutton">FeedBack</button>
                        <button class="Actionsbutton">Rate Service</button>
                    </div>
                    <div class="ProfileMatter">
                        <div><h3 align="center" style="color:white;"><b>Digital Photography</b></h3></div><br />
                        <div class="ProfilePersonContactNavgation">
                            <div><label style="color:ghostwhite; font-size:larger;" class="fa fa-user-circle"><label style="color:goldenrod;font-size:large;">&emsp;Songa Tharun</label></label></div><br />
                            <div><label style="color:ghostwhite; font-size:larger;" class="fa fa-volume-control-phone"><label style="font-size:large;"><a href="tel:8497977911" style="color:goldenrod;text-decoration:none;">&emsp;8497977911</a></label></label></div><br />
                            <div><a href="https://www.google.com/maps/@16.4437692,80.5595164,20z" style="text-decoration:none;"><label style="color:ghostwhite; font-size:larger;" class="fa fa-location-arrow paddingclass"></label><label style="font-size:large;color:goldenrod;">&emsp;<b style="color:palegoldenrod;">For U Digital Photo Studio</b>, Nauluru Road, Mangalagiri, India 522503.</label></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>