<div class="BfcChatBootPopup">
    <link ng-href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Styles/CSS/BfcChatBoot/BfcChatBootStyle.css" rel="stylesheet" />
    <div class="CrossCancle" ng-click="CrossCancleChatBoot()">&#10005;</div>
    <div class="BfcChatBootMain">
        <div class="BfcChatBootHeader">
            <div class="ChatbootHeaderMatter">
                Chat Support
            </div>
            <div class="ChatbootHeaderSupport">
                Support
            </div>
        </div>
        <div class="BfcChatbootBody">
            <div class="ChatbootMessageBody">
                <div class="ChatbootReceiverMessage">
                    <div><img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ChatbootReceiverMessageIcon"/></div>
                    <p class="ChatbootReceiverMessageText">hiiidslfmldsmflkdmsfasd </p>
                </div>
                <div class="ChatbootSenderMessage">
                    <div>
                        <img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ChatbootSenderMessageIcon"/>
                    </div>
                    <p class="ChatbootSenderMessageText">Hello</p>
                </div>
                <div class="ChatbootReceiverMessage">
                    <div><img src="Rescorces/images/WhatsAppImage2019-11-22at02.29.04.jpeg" class="ChatbootReceiverMessageIcon"/></div>
                    <p class="ChatbootReceiverMessageText">hiiidslfmldsmflkdmsfasd </p>
                </div>
            </div>
            <div class="Chatboottypingtext">
                <div class="ChatbootOptions">
                    <input type="text" placeholder="type here ..." class="inputTextBoxChatboot" />
                    <button class="fa fa-location-arrow MessageSendBut" ng-click=""></button>
                </div>
            </div>
        </div>
    </div>
</div>