<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="Styles/CSS/Background.css" rel="stylesheet" />
    <link href="Styles/CSS/Homepage.css" rel="stylesheet" />
    <script src="AgularScripts/SourceContent/CommonScript/CommonSource.js"></script>
    <script src="Scripts/angular.js"></script>

    <script src="AgularScripts/SourceContent/HomePage/Modules/HomePage.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCCarServicsDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCAcWashmechineRefrigeratorsDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Controller/BFCHomePage.js"></script>

    <title>BFC Services</title>
</head>
<body ng-app="BFCHomePage" ng-controller="BFCHomeCtrl">


    <div class="GoTop">
        <button onclick="GotoTop()" class="GotoTop" id="GoTop"><div class="GotopArrow fa" style="text-align:center;">&#xf064;</div></button>
    </div>
    <div id="bordertop">

        <div class="TitleText">B F C</div>
        <div class="TopContactInfo">
            <div class="TopContactEachInfo">
                <a href="mailto:bfcparkroad@gmail.com" style="color:white"><label>&#x2709&nbspbfcparkroad@gamil.com</label></a>
            </div>
            <div class="TopContactEachInfo">
                <a href="tel:6362234969" style="color:white"><label> &#9743;&nbsp6362234969</label></a>
            </div>
        </div>

    </div>
    <div class="SocialMediaTab">
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaFBIcon fa">&#xf082;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.youtube.com/channel/UCItYy4cPGvaz2ulh7br2Y4w" target="_blank">
                <i class="PointHover SocialMeadiaYTIcon fa">&#xf166;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaTWIcon fa">&#xf099;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaIGIcon fa">&#xf16d;</i>
            </a>
        </div>
    </div>

    <div class="ServicesInfo">
        <div class="ServicesHeader">
            <br />
            <br />
            <label class="BFCHeaderB">
                <b>B</b>
            </label>
            <label class="BFCHeaderF">
                <b>F</b>
            </label>
            <label class="BFCHeaderC">
                <b>C</b>
            </label>
            <label class="BFCHeaderServices">
                <b>Services</b>
            </label>
        </div>
        <div class="BFCBodyContent">

            <div class="ServicesContent">
                <div class="BFCSubTitles">Purpose &#x205A;</div>
                <p class="SubTitlePerposerContent">
                    Best Friend Circle is here to serve you, the prospective behind this to gather different professions
                    into one place and allow them to give there respective services at low cost
                </p>
                <div class="BFCSubTitles">Ami &#x205A;</div>
                <p>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspEvery Individual have to Benefactor over this services<br />
                    </div>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspCustomers Satisfaction<br />
                    </div>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspAlowing people to get some Free services (BFC Complimentary)<br />
                    </div>
                </p>
            </div>
            <div class="BFCEachIndividualService">
                <div class="BFCSerVicesHeader">BFC Providing</div>
                <div class="ScrollbelContent">
                    <div class="BFCServicesCategory">

                        <div class="BFCEachServices">
                            <bfc-car-service-directive ng-hide="DirecctivebfcCarServicesView" ng-init="DirecctivebfcCarServicesView=true"></bfc-car-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcCarServicesNav" ng-init="DirecctivebfcCarServicesNav=false">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="CarServices()">
                                    &#x276F;
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Car Travels cum Purchases
                                </div>
                            </div>
                        </div>

                        <div class="BFCEachServices">
                            <bfc-ac-washingmechine-refrigerators-directive ng-hide="DirecctivebfcACWashMachineServicesView" ng-init="DirecctivebfcACWashMachineServicesView=true"></bfc-ac-washingmechine-refrigerators-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcACWashMachineServicesNav" ng-init="DirecctivebfcACWashMachineServicesNav=false">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="ACWashMachineService()">
                                    &#x276F;
                                </div>
                                <div class="BFCServicesContentMatter">
                                    AC, Washing Machine and Refrigerators
                                </div>

                            </div>
                        </div>
                        <div class="BFCEachServices">
                            <bfc-car-service-directive ng-hide="DirecctivebfcDigitalPhotoGraphServicesView" ng-init="DirecctivebfcDigitalPhotoGraphServicesView=true"></bfc-car-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcDigitalPhotoGraphServicesNav" ng-init="DirecctivebfcDigitalPhotoGraphServicesNav=false">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="DigitalPhotoGraphService()">
                                    &#x276F;
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Digital Photography
                                </div>

                            </div>
                        </div>
                        <div class="BFCEachServices">
                            <bfc-car-service-directive ng-hide="DirecctivebfcWoodWorksServicesView" ng-init="DirecctivebfcWoodWorksServicesView=true"></bfc-car-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcWoodWoorksServicesNav" ng-init="DirecctivebfcWoodWoorksServicesNav=false">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="WoodWorksService()">
                                    &#x276F;
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Wood Works
                                </div>
                            </div>
                        </div>
                        <div class="BFCEachServices">
                            <bfc-car-service-directive ng-hide="DirecctivebfcPaintingWorksServicesView" ng-init="DirecctivebfcPaintingWorksServicesView=true"></bfc-car-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcPaintingWorksServicesNav" ng-init="DirecctivebfcPaintingWorksServicesNav=false">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="PaintingWorks()">
                                    &#x276F;
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Painting Works
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <!--<input id="UserID" type="text" placeholder="Enter" />
        <input id="UserPassword" type="password" placeholder="Password"/>
        <button title="Login" onclick="OnClick()">Login</button>
        <input id="ResultField" type="text"/>-->
</body>
</html>