<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="334572477511-h0mfjbn0a1behm2ja63dcls65jn91k11.apps.googleusercontent.com">
    <!--                Google Support                                       -->
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>-->
    <!--                            Css Supporting Files                                -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="Content/bootstrap.min.css" rel="stylesheet" />-->
    <!--                                Css Files                                       -->
    <link href="Styles/CSS/Background.css" rel="stylesheet" />
    <link href="Styles/CSS/Homepage.css" rel="stylesheet" />

    <!--                            Js Supporting Files                                 -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/jquery-3.0.0.js"></script>
    <script src="AgularScripts/SourceContent/CommonScript/CommonSource.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>


    <!--                    AngularJs Modules Controllers directives                    -->
    <script src="AgularScripts/SourceContent/HomePage/Modules/HomePage.js"></script>
    <script src="AgularScripts/SourceContent/CommonScript/ngEnter.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCCarServicsDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/FeedBack/FeedBackPopup.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCAcWashmechineRefrigeratorsDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCDigitalPhotographyServicesDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCWoodWorksDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BFCPaintingworksDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Directives/BfcChatboot/BfcChatBootDirective.js"></script>
    <script src="AgularScripts/SourceContent/HomePage/Controller/BFCHomePage.js"></script>

    <title>BFC Services</title>
</head>
<body ng-app="BFCHomePage" ng-controller="BFCHomeCtrl">


    <div class="GoTop">
        <bfc-chat-boot-directive ng-hide="BfcChatbootShowHide" ng-init="BfcChatbootShowHide=true"></bfc-chat-boot-directive>
        <button ng-click="BfcChatbootShowHide = false;BfcChatbootHomePageIcon = true" class="GotoTop" id="GoTop" ng-hide="BfcChatbootHomePageIcon" ng-init="BfcChatbootHomePageIcon=false"><div class="GotopArrow fa" style="text-align:center;">&#xf064;</div></button>
    </div>
    <div id="bordertop">

        <div class="TitleText">B F C</div>
        <div class="TopContactInfo">
            <div class="TopContactEachInfo">
                <a href="mailto:bfcparkroad@gmail.com" style="color:white"><label>&#x2709&nbspbfcparkroad@gamil.com</label></a>
            </div>
            <div class="TopContactEachInfo">
                <a href="tel:6362234969" style="color:white"><label> &#9743;&nbsp6362234969</label></a>
            </div>
        </div>

    </div>
    <div class="SocialMediaTab">
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaFBIcon fa">&#xf082;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.youtube.com/channel/UCItYy4cPGvaz2ulh7br2Y4w" target="_blank">
                <i class="PointHover SocialMeadiaYTIcon fa">&#xf166;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaTWIcon fa">&#xf099;</i>
            </a>
        </div>
        <div class="SocialMedialEachitem">
            <a href="https://www.facebook.com/BFCParkRoadServices/" target="_blank">
                <i class="PointHover SocialMeadiaIGIcon fa">&#xf16d;</i>
            </a>
        </div>
    </div>

    <div class="ServicesInfo">
        <div class="ServicesHeader">
            <br />
            <br />
            <label class="BFCHeaderB">
                <b>B</b>
            </label>
            <label class="BFCHeaderF">
                <b>F</b>
            </label>
            <label class="BFCHeaderC">
                <b>C</b>
            </label>
            <label class="BFCHeaderServices">
                <b>Services</b>
            </label>
        </div>
        <!--<bfc-car-main-profile-view ng-hide="bfcMainProfileViewHideDirective" ng-init="bfcMainProfileViewHideDirective=true"></bfc-car-main-profile-view>-->
        <ng-view ng-hide="bfcMainProfileViewHideDirective" ng-init="bfcMainProfileViewHideDirective=true"></ng-view>
        <bfc-feedback-directive ng-hide="FeedBackDirective" ng-init="FeedBackDirective=true"></bfc-feedback-directive>
        <div class="BFCBodyContent" ng-hide="bfcHomePageViewHideBodyContent" ng-init="bfcHomePageViewHideBodyContent=false">

            <div class="ServicesContent">
                <div class="BFCSubTitles">Purpose &#x205A;</div>
                <p class="SubTitlePerposerContent">
                    Best Friend Circle is here to serve you, the prospective behind this to gather different professions
                    into one place and allow them to give there respective services at low cost
                </p>
                <div class="BFCSubTitles">Ami &#x205A;</div>
                <p>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspEvery Individual have to Benefactor over this services<br />
                    </div>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspCustomers Satisfaction<br />
                    </div>
                    <div class="SubTitleAimContent">
                        &#x27B2;&nbsp&nbsp&nbsp&nbspAlowing people to get some Free services (BFC Complimentary)<br />
                    </div>
                </p>
            </div>
            <div class="BFCEachIndividualService" id="bfcProvidingTab">
                <div class="BFCSerVicesHeader">BFC Providing</div>
                <div class="ScrollbelContent">
                    <div class="BFCServicesCategory">

                        <div class="BFCEachServices">
                            <bfc-car-service-directive ng-hide="DirecctivebfcCarServicesView" ng-init="DirecctivebfcCarServicesView=true"></bfc-car-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcCarServicesNav" ng-init="DirecctivebfcCarServicesNav=false" ng-click="CarServices()">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="CarServices()">
                                    &#x276F;
                                </div>
                                <div class="RatingStarsOnEachServices">
                                    <label id="BfcCarTravelsandPurchasesstar1" ng-click="StarclickNumber=1;CurrentstartFunction(1)" style="color:gold;">&#10031;</label>
                                    <label id="BfcCarTravelsandPurchasesstar2" ng-click="StarclickNumber=2;CurrentstartFunction(1)">&#10031;</label>
                                    <label id="BfcCarTravelsandPurchasesstar3" ng-click="StarclickNumber=3;CurrentstartFunction(1)">&#10031;</label>
                                    <label id="BfcCarTravelsandPurchasesstar4" ng-click="StarclickNumber=4;CurrentstartFunction(1)">&#10031;</label>
                                    <label id="BfcCarTravelsandPurchasesstar5" ng-click="StarclickNumber=5;CurrentstartFunction(1)">&#10031;</label>
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Car Travels cum Purchases
                                </div>
                            </div>
                        </div>

                        <!--<a href="#!ACWashingMechineServices" style="text-decoration-skip:none;">-->
                        <div class="BFCEachServices">
                            <bfc-ac-washingmechine-refrigerators-directive ng-hide="DirecctivebfcACWashMachineServicesView" ng-init="DirecctivebfcACWashMachineServicesView=true"></bfc-ac-washingmechine-refrigerators-directive>

                            <div class="ServicesMatter" ng-hide="DirecctivebfcACWashMachineServicesNav" ng-init="DirecctivebfcACWashMachineServicesNav=false" ng-click="ACWashMachineService()">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="ACWashMachineService()">
                                    &#x276F;
                                </div>
                                <div class="RatingStarsOnEachServices">
                                    <label id="BfcACWashingMachineRefrigeratorsstar1" ng-click="StarclickNumber=1;CurrentstartFunction(2)" style="color:gold;">&#10031;</label>
                                    <label id="BfcACWashingMachineRefrigeratorsstar2" ng-click="StarclickNumber=2;CurrentstartFunction(2)">&#10031;</label>
                                    <label id="BfcACWashingMachineRefrigeratorsstar3" ng-click="StarclickNumber=3;CurrentstartFunction(2)">&#10031;</label>
                                    <label id="BfcACWashingMachineRefrigeratorsstar4" ng-click="StarclickNumber=4;CurrentstartFunction(2)">&#10031;</label>
                                    <label id="BfcACWashingMachineRefrigeratorsstar5" ng-click="StarclickNumber=5;CurrentstartFunction(2)">&#10031;</label>
                                </div>
                                <div class="BFCServicesContentMatter">
                                    AC, Washing Machine and Refrigerators
                                </div>

                            </div>

                        </div>
                        <!--</a>-->
                        <div class="BFCEachServices">
                            <bfc-digital-photography-service-directive ng-hide="DirecctivebfcDigitalPhotoGraphServicesView" ng-init="DirecctivebfcDigitalPhotoGraphServicesView=true"></bfc-digital-photography-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcDigitalPhotoGraphServicesNav" ng-init="DirecctivebfcDigitalPhotoGraphServicesNav=false" ng-click="DigitalPhotoGraphService()">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="DigitalPhotoGraphService()">
                                    &#x276F;
                                </div>
                                <div class="RatingStarsOnEachServices">
                                    <label id="BfcDigitalPhotoGraphystar1" ng-click="StarclickNumber=1;CurrentstartFunction(3)" style="color:gold;">&#10031;</label>
                                    <label id="BfcDigitalPhotoGraphystar2" ng-click="StarclickNumber=2;CurrentstartFunction(3)">&#10031;</label>
                                    <label id="BfcDigitalPhotoGraphystar3" ng-click="StarclickNumber=3;CurrentstartFunction(3)">&#10031;</label>
                                    <label id="BfcDigitalPhotoGraphystar4" ng-click="StarclickNumber=4;CurrentstartFunction(3)">&#10031;</label>
                                    <label id="BfcDigitalPhotoGraphystar5" ng-click="StarclickNumber=5;CurrentstartFunction(3)">&#10031;</label>
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Digital Photography
                                </div>

                            </div>
                        </div>
                        <div class="BFCEachServices">
                            <bfc-woodworks-service-directive ng-hide="DirecctivebfcWoodWorksServicesView" ng-init="DirecctivebfcWoodWorksServicesView=true"></bfc-woodworks-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcWoodWoorksServicesNav" ng-init="DirecctivebfcWoodWoorksServicesNav=false" ng-click="WoodWorksService()">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="WoodWorksService()">
                                    &#x276F;
                                </div>
                                <div class="RatingStarsOnEachServices">
                                    <label id="BfcWoodWorksstar1" ng-click="StarclickNumber=1;startFuncCurrentstartFunctiontion(4)" style="color:gold;">&#10031;</label>
                                    <label id="BfcWoodWorksstar2" ng-click="StarclickNumber=2;CurrentstartFunction(4)">&#10031;</label>
                                    <label id="BfcWoodWorksstar3" ng-click="StarclickNumber=3;CurrentstartFunction(4)">&#10031;</label>
                                    <label id="BfcWoodWorksstar4" ng-click="StarclickNumber=4;CurrentstartFunction(4)">&#10031;</label>
                                    <label id="BfcWoodWorksstar5" ng-click="StarclickNumber=5;CurrentstartFunction(4)">&#10031;</label>
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Wood Works
                                </div>
                            </div>
                        </div>
                        <div class="BFCEachServices">
                            <bfc-painting-works-service-directive ng-hide="DirecctivebfcPaintingWorksServicesView" ng-init="DirecctivebfcPaintingWorksServicesView=true"></bfc-painting-works-service-directive>
                            <div class="ServicesMatter" ng-hide="DirecctivebfcPaintingWorksServicesNav" ng-init="DirecctivebfcPaintingWorksServicesNav=false" ng-click="PaintingWorks()">
                                <div class="BFCEachServicesImage">&#x2620;</div>
                                <div class="ServicesNavigationBar" ng-click="PaintingWorks()">
                                    &#x276F;
                                </div>
                                <div class="RatingStarsOnEachServices">
                                    <label id="BfcPaintingWorksstar1" ng-click="StarclickNumber=1;CurrentstartFunction(5)" style="color:gold;">&#10031;</label>
                                    <label id="BfcPaintingWorksstar2" ng-click="StarclickNumber=2;CurrentstartFunction(5)">&#10031;</label>
                                    <label id="BfcPaintingWorksstar3" ng-click="StarclickNumber=3;CurrentstartFunction(5)">&#10031;</label>
                                    <label id="BfcPaintingWorksstar4" ng-click="StarclickNumber=4;CurrentstartFunction(5)">&#10031;</label>
                                    <label id="BfcPaintingWorksstar5" ng-click="StarclickNumber=5;CurrentstartFunction(5)">&#10031;</label>
                                </div>
                                <div class="BFCServicesContentMatter">
                                    Painting Works
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feed Back to Show on Home Page starts -->
            <div class="FeedBacksToShowOnHomePageMain">
                <div class="FeedBackToShowHeadder">Customer Reviews</div>
                <div class="FeedBacksToShowBody" id="EachReviewToHoldBody">
                    <div id="FeedBackEachColumn1ToShow" class="FeedBackEachColumnToShow">
                    </div>
                    <div id="FeedBackEachColumn2ToShow" class="FeedBackEachColumnToShow">

                    </div>
                    <div id="FeedBackEachColumn3ToShow" class="FeedBackEachColumnToShow">

                    </div>
                </div>
            </div>
            <!-- Feed Back to Show on Home Page Ends -->

        </div>



        <!--<input id="UserID" type="text" placeholder="Enter" />
        <input id="UserPassword" type="password" placeholder="Password"/>
        <button title="Login" onclick="OnClick()">Login</button>
        <input id="ResultField" type="text"/>-->
</body>
</html>