<div class="FeedBackPopUp">
    <link ng-href="Styles/CSS/FeedBack/FeedBackPopup.css" rel="stylesheet" />
    <div class="FeedBackMain">
        <div class="CrossCancle" ng-click="CrossCancleFeedBack()">&#10005;</div>
        <div class="FeedBackHeading">Feed Back</div>
        <div class="FeedBackPoints">
            <select id="SelectServices" class="ServicesSelectDropDown SelectDropDown OtherFeedBackCss" ng-model="SelectedServicesOnFeedBack">
                <option value="">----   Select Service   ----</option>
                <option ng-repeat="EachService in Services" value="{{EachService.Value}}">{{ EachService.Service }}</option>
            </select>
            <br />
            <select id="SelectFeedBackCategory" class="ServicesFeedBackCategoryDropDown SelectDropDown OtherFeedBackCss" ng-model="SelectedFeedBackCategory">
                <option value="">----   Select FeedBack On   ----</option>
                <option ng-repeat="EachCategory in FeedBackCategory" value="{{EachCategory.Value}}">{{ EachCategory.FeedBackOn }}</option>
            </select>
            <br />
            <select id="SelectBFCSerivesHow" class="SelectBFCSerivesHowDropDown SelectDropDown OtherFeedBackCss" ng-model="SelectedHowBfcKnow">
                <option value="">----   Select How do you Know   ----</option>
                <option ng-repeat="EachKnownBfc in BfcHowToKnow" value="{{EachKnownBfc.Value}}">{{ EachKnownBfc.KnowBy }}</option>
            </select>
            <br />
            <!--onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"-->
            <input type="tel" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" pattern="[1-9]{1}[0-9]{9}" class="InputFeedBackField OtherFeedBackCss" placeholder="Mobile Number" title="Phone Number" ng-model="FeedBackerPhoneNumber" />
            <br />
            <input type="text" class="InputFeedBackField OtherFeedBackCss" title="Name" placeholder="Name" ng-model="FeedBackerName" />
            <br />
            <textarea type="text" class="InputFeedBackField TextAreaDescription OtherFeedBackCss" title="FeedBack Description" placeholder="FeedBack Description" ng-model="FeedBackDescription" />
            <br />
        </div>
        <button class="FeedBackSubmitButton OtherFeedBackCss" ng-click="FeedBackSubmit()">Submit</button>
        <button class="FeedBackCancleButton OtherFeedBackCss" ng-click="CrossCancleFeedBack()">Cancle</button>
        <button class="FeedBackResetButton OtherFeedBackCss" ng-click="FeedBackReset()">Reset</button>

    </div>
</div>