.FeedBackHeading {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 0px 0px 15px 0px;
}

.FeedBackPoints {
    background: #a9a9c5
}

.FeedBackMain {
    background: #372746bd;
    width: 75%;
    margin: auto;
    padding: 15px 0px 10px 0px;
    border-radius: 10px;
}

.FeedBackPopUp {
}

.OtherFeedBackCss {
    text-align: center;
    margin: 18px 0px 0px 9%;
    min-width: 21%;
    box-border: none;
    border-radius: 10px;
    border-top: none;
    border-right: none;
    border-left: 1px solid red;
    border-bottom: 1px solid #04083e;
    background: none;
    font-size: medium;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

    .OtherFeedBackCss:hover {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        border-top: 1px solid #04083e;
        border-right: 1px solid red;
        border-left: 1px solid red;
        border-bottom: 1px solid #04083e;
        font-weight: bold;
    }

.CrossCancle {
    font-size: larger;
    font-weight: bold;
}

.FeedBackSubmitButton {
    background: #b3f7ca;
    border: none;
    font-size: 15px;
}

.SelectDropDown {
    width: 60%;
}

.InputFeedBackField {
    width: 50%;
}

.TextAreaDescription {
    width: 60%;
}

.FeedBackCancleButton {
    background: #fdd296fa;
    border: none;
    font-size: 15px;
}

.FeedBackResetButton {
    background: #abd9fdfa;
    border: none;
    font-size: 15px;
}

.RatingStarsOnFeedBack {
    margin: 18px 0px 0px 9%;
    text-align: center;
    height: 20px;
    width: 85%;
    min-width: 50px;
    font-size: larger;
    transition: 2s;
    transition-delay: 2s;
    transform: scale(1.2);
}

.RatingStarsOnFeedBack label {
    margin: 10px;
    text-shadow: 1px 1px 2.2px black;
    transition: 0.2s ease-in-out;
}

.RatingStarsOnFeedBack label:hover {
    background: black;
    font-size: x-large;
    border-radius: 50%;
}
